*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adminBody{
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEF7F7;
    
}

.adminBodyLeft{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
}
.adminBodyLeftTop{
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
}
.totalBudget{
    width: 25%;
    height: 100%;
    background-color: #FB8500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;
}
.totalBudget > p{
    font-size: 12px;
    color: #FFFDFD;
    font-weight: 600;
}
.totalBudget > span{
    font-size: 18px;
    color: #FFFDFD;
}

.amountSpent{
    width: 25%;
    height: 100%;
    background-color: #FB8500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;

}
.amountSpent > p{
    font-size: 12px;
    color: #FFFDFD;
    font-weight: 600;
}
.amountSpent > span{
    font-size: 18px;
    color: #FFFDFD;
}
.budgetBalance{
    width: 25%;
    height: 100%;
    background-color: #FB8500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px;
}
.budgetBalance > p{
    font-size: 12px;
    color: #FFFDFD;
    font-weight: 600;
}
.budgetBalance > span{
    font-size: 18px;
    color: #FFFDFD;
}

.adminBodyLeftMid{
    width: 100%;
    height: 60%;
    padding-inline: 20px;
    /* background-color: #219EBC; */
}
.adminBodyLeftDown{
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
.adminBodyLeftDown > h4{
    cursor: pointer;
}
.adminBodyLeftDown > h4:hover{
    color: #FB8500;
}
.adminBodyLeftDown > h4:hover{
    transform: scale(1);
    color: #FB8500;
}
.adminHistory{
    width: 70%;
    height: 30px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.adminHistory > p{
    font-size: 1rem;
}
.adminHistory > span{
    color: #219EBC;
    font-size: 13px;
}


.adminBodyRight{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
}